Body{
     background-color: green;
     color: yellow
     font-family: Arial, sans-serif;
}
header{
    backgrond-color:#3F4D00;
    color:#3F4D00;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size:36px;
}
h2 {
    color: blueviolet;
}
}
p {
 font-size: 18px;
 line-height: 1.6;
}