Body{
     background-color: green;
     color: yellow
     font-family: Arial, sans-serif;
}
header{
    backgrond-color:#3F4D00;
    color:#3F4D00;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size:36px;
}
h2 {
    color: blueviolet;
}
}
p {
 font-size: 18px;
 line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: aliceblue;
    margin: 20px 0;
    padding: 20px;
    bonder-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    bonder-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: hfihfweuiu
    margin-top: 8px;

}